page-home {
    .header{
        text-align: center;
        padding-top: 5%;
        background-color: #3ea2db; 
    }

    .header img{
        margin: 2%;
        width: 40%;
        height: 50%;
    }
}
